
LaTeX/main.aux

LaTeX/main.log

LaTeX/main.out

LaTeX/main.synctex.gz

LaTeX/main.blg
.DS_Store
.DS_Store
.DS_Store
LaTeX/.main 2.synctex(busy).icloud
DIS 2026/main.log
DIS 2026/main.synctex.gz
DIS 2026/main.aux
DIS 2026/main.blg
DIS 2026/main.out
